    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500&display=swap');
*
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
    }
    :root
    {
        --bg: #FFF8E7;
        --txt: rgb(117, 14, 14);
        --bgtwo:rgb(205, 38, 38);
    }
    html,
    body
    {
        background-color: var(--bg);
    }
    .main-container
    {
        width: 100%;
        height: 100vh;
        background-color: var(--bg);
        display: flex;
        flex-direction: row;
    }
    .center-panel
    {
        width: 33.3%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .cont-top
    {
        width: 100%;
        height: 40vh;
    }
    .brand-name
    {
        position: absolute;
        top: 45%;
        left: 25%;
        font-size: 4rem;
        width: 50%;
        text-align: center;
        font-weight: bold;
        color: var(--txt);
    }
    .top-image
    {
        width: 35%;
        height: 35%;
        position: absolute;
        left:30%;
        top: 8%;
    }
    .top-image img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 70px;
    }
    .hero-image
    {
        width: 100%;
        height: 60vh;
    }
    .hero-image img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .left-panel
    {
        width: 33.3%;
        height: 100%;
    }
    .right-panel
    {
        width: 33.3%;
        height: 100%;
    }
    /* section 2 */
    .main-body
    {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: var(--txt);
    }
    .main-body-bottom
    {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: row;
    }
    .main-body-bottom-box
    {
        width: 33.3%;
        height: 100%;
    }
    .main-body-bottom-box img
    {
        width: 100%;
        height: 100%;
    }
    .main-body-top
    {
        width: 100%;
        height: 30vh;
    }
    /* header in 2 */
    .navbar
    {
        width: 100%;
        height: 80px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 30px;
        justify-content: space-between;
    }
    .nav-cntr
    {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .nav-cntr a
    {
        text-decoration: none;
        font-size: 14px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .nav-rgt i
    {
        font-size: 25px;
        color: white;
    }
    #cart-count
    {
        color: white;
    }
    #wishlist-count
    {
        
        color: white;
    }
    .nav-rgt a
    {
        text-decoration: none;
    }
    .logo
    {
        font-size: 20px;
        width: 120px;
        height: 100%;
        color: var(--bg);
        padding-top: 15px;
        text-align: center;
    }
    .main-body-box
    {
        position: absolute;
        left: 50%;
        top: 40%;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-50%,-50%);
        user-select: none;
    }
    .main-body-box-hdng
    {
        font-size: 4.5rem;
        color: var(--bg);
        font-weight: bold;
    }
    .sub-txt
    {
        max-width:320px;
        font-size:15px;
        text-align: center;
        color: white;
    }
    #main-hdng-two
    {
        font-weight: 100;
    }
    .hdng-row
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    /* Section 3 */
    .display-products
    {
        width: 100%;
        height: auto;
        background-color: var(--bg);
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #FFF8E7;
        gap: 30px;
    }
    .Bst-slr-hdng
    {
        font-size: 3rem;
        font-weight: 900;
        color: var(--txt);
    }
    .display-prdct-row
    {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .display-prdct-two
    {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .product-description
    {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .product-name
    {
        font-size: 19px;
    }
    .prduct-price
    {
        color: #2D211E;
        font-size: 19px;
    }
    .product-icon
    {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .product-icon i
    {
        font-size: 20px;
        cursor: pointer;
    }
    .product-icon i
    {
        color: #000,
    }
    .card
    {
        width: 300px;
        height: auto;
        color: rgb(60, 1, 1);
        border-radius: 15px;
        background-color: #FFF3DA;
        border: #E8D8C8;
    }
    .card img
    {
        width: 100%;
        height: 290px;
        border-radius: 15px;
        object-fit: cover;
    }
    .product-row
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .how-we-make-pstry
    {
        height: 65vh;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .how-we-make-pstry-lft-image
    {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .how-we-make-pstry-lft-image img
    {
        width: 80%;
        height: 80%;
        object-fit: cover;
        border-radius: 15px;
    }
    .how-we-make-pstry-rgt-txt
    {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--txt);
        gap:20px;
        padding: 0 30px;
    }
    .how-we-make-pstry-rgt-txt-hdng
    {
        font-size: 3rem;
        font-weight: bold;
    }
    .bottom-container
    {
        width: 100%;
        height: 20vh;
        background-color: var(--txt);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bottom-container-icon i
    {
        font-size: 40px;
        color: var(--bg);
        text-align: center;
    }
    /*  */
    .magic-behind
    {
        width: 100%;
        height: 80vh;
        background-color: var(--txt);
        margin-top: 50px;
        position: relative;
    }
    .magic-box
    {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 43%;
        color: var(--bg);
        transform: translate(-50%,-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 20px 0;
        background-color: rgba(0,0,0,0.45);
    }
    .magic-main-txt
    {
        font-size: 2.3rem;
        font-weight: bold;
    }
    .magic-btn button
    {
        width: 120px;
        height: 50px;
        border: none;
        border-radius: 50px;
    }
    .magic-txt
    {
        font-size: 16px;
    }
    .magic-behind img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-section
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        justify-content: center;
        height: auto;
    }
    .product-section-one
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    /*  */
    .magic-btn a
    {
        text-decoration: none;
        color: #000;
    }
    @media(max-width:768px)
    {  
        .display-prdct-row
        {
            display: flex;
            flex-direction: row;
            scroll-behavior: smooth;
            overflow-x: auto;
            justify-content:flex-start;
            overflow-y: hidden;
        }
        .center-panel
        {
            width: 100%;
            display: flex;
            align-items: center;
        }
        .hero-image
        {
            height: 70vh;
            width: 80%;
        }
        .left-panel,.right-panel
        {
            display: none;
        }
        .brand-name
        {
            text-align: center;
            font-size: 3.5rem;
        }
        .top-image
        {
            height: 30%;
            width: 30%;
            left: 35%;
            top: 1%;
        }
        .hide-on-phone
        {
            display: none;
        }
        #hide-on-phone
        {
            display: none;
        }
        .main-body-bottom-box
        {
            width: 50%;
        }
        .main-body-box
        {
            width: 50%;
        }
        .hdng-row
        {
            display: flex;
            flex-direction: column;
        }
        .main-body-box-hdng
        {
            text-align: center;
        }
    }
@media(max-width: 480px)
    {
        /* 1 */
        .left-panel,.right-panel
        {
            display: none;
        }
        .center-panel
        {
            width: 100%;
        }
        /* 2*/
        .hide-on-phone
        {
            display: none;
        }
        .hide-on-phone-one
        {
            display: none;
        }
        #hide-on-phone
        {
            display: none;
        }
        #hide-on-phone-one
        {
            display: none;
        }
        .main-body-bottom-box img
        {
            width: 100%;
            height: 100%;
        }
        .main-body-box-hdng
        {
            font-size: 3.5rem;
        }
        .hdng-row
        {
            flex-direction: column;
            display: flex;
            text-align: center;
        }
        .main-body-box
        {
            top: 50%;
            width: 50%;
        }
        .navbar
        {
            padding: 0 10px;
        }
        .nav-cntr
        {
            gap: 10px;
        }
        /*  */
        .how-we-make-pstry
        {
            height: auto;
            display: flex;
            padding-top: 30px;
            flex-direction: column;
        }
        .how-we-make-pstry-lft-image
        {
            width: 100%;
        }
        .how-we-make-pstry-rgt-txt
        {
            width: 100%;
        }
        /* 3 */
        .display-prdct-two
        {
            display: flex;
            align-items:center;
            flex-direction: column;
        }
        .display-prdct-row
        {
            display: flex;
            height: auto;
            flex-direction: column;
        }
        .brand-name
        {
            font-size: 2.6rem;
            text-align: center;
            left: 22%;
        }
        .magic-box
        {
            width: 70%;
        }
        .Bst-slr-hdng
        {
            font-size: 2rem;
        }
        .product-section-one
        {
            padding-top: 40px;
        }
        .product-section
        {
            padding-top: 40px;
        }
        .hero-image
        {
            width: 95%;
            height: 70%;
        }
        .top-image
        {
            top: 8%;
            left: 34%;
        }
        .nav-rgt i
        {
            font-size: 20px;
        }
        .nav-cntr a
        {
            font-size: 14px;
        }
        .main-body
        {
            height: 80vh;
        }
        .logo
        {
            font-size: 18px;
        }
    }